
<!-- TODO make it RESPONSIVE! -->
<!-- Toolbar -->
<!-- TODO move this to a menu/header component to clean up the code? -->
<header class="container">
<div class="toolbar card-container mb-3 pb-3" role="banner">
  <img height="100" src="./../assets/g20687.png">
   <span><h3 class="mt-2 pt-2 mb-3 pb-5">Sewing Project Manager</h3></span>
   <div class="spacer"></div>
<!-- TODO need to style the buttons with material -->
<!-- TODO need links for each menu item -->
    <a class="card highlight-card card-small mb-5" href="https://suedarby.github.io/Sewing-Project-Manager-Angular/" role="button">Docs</a>
    <a class="card highlight-card card-small mb-5" href="#" role="button">About</a>
    <a class="card highlight-card card-small mb-5" href="#" role="button">Login</a>
    <a class="card highlight-card card-small mb-5" href="#" role="button">Register</a>
<!-- TODO Need to incorporate a search function -->
<!-- TODO need to make box responsive -->
      <nav class="navbar navbar-light bg-light">
      </nav>
</div>
</header>
