<h1>DashBoard</h1>
<!--  -->
<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Project</h3>
          <p class="card-text">Needs a short list of project titles and a status bar. 5-10 items Needs icon or image</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Shopping List</h3>
          <p class="card-text">Needs a list of items with checkboxes. Only to 10 items or equal to projects</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h3 class="card-title">Stash Low Stock</h3>
          <p class="card-text">This should show the top 10 items that are low stock with an add to shopping list button</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">UFO</h5>
          <p class="card-text">This is a list of UFOs that also need supplies to keep going</p>
        </div>
      </div>
    </div>
  </div>
