<h1>Features</h1>
<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Projects</h3>
        <p class="card-text">Needs a short list of project titles and a status bar. 5-10 items Needs icon or image</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Shopping List</h3>
        <p class="card-text">shows screen shot of a shopping list layout</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-title">Stash Low Stock</h3>
        <p class="card-text">shows formatting for low stock items i.e. make them red</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Budgeting</h5>
        <p class="card-text">shows sample charts and graphs</p>
      </div>
    </div>
  </div>
</div>
