<!-- TODO interpolate User Profile to pull the name of the user from Firebase-->
<h1>User Profile</h1>
<section class="container" style="background-color: #f4f5f7;">
      <div class="row d-flex justify-content-center align-items-center ">
            <div class="row">
              <div class="col-md-9 gradient-custom text-center text-white"
                style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;border-top-right-radius: .5rem; border-bottom-right-radius: .5rem;">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
                  alt="Avatar" class="img-fluid my-5" style="width: 80px;" />
                <h5>Marie Horwitz</h5>
<!-- TODO add a title to the new user info -->
                <p>Web Designer</p>
<!-- TODO link to new user form for editing profile info -->
                <i class="far fa-edit mb-2"></i>
              <div>
                <div class="card-body ">
                  <h6>Information</h6>
                  <hr/>
<!-- TODO pull info from new user info -->
                  <div class="row ">
                    <div>
                      <h6>Email</h6>
                      <p class="text-muted">info@example.com</p>
                    </div>
                    <div>
                      <h6>Phone</h6>
                      <p class="text-muted">123 456 789</p>
                    </div>
                  <h6>Projects</h6>
                  <hr class="mt-0 mb-4">
                  <div class="row pt-1">
                    <div class="col-6 mb-3">
                      <h6>Recent</h6>
                      <p class="text-muted">Lorem ipsum</p>
                    </div>
                    <div class="col-6 mb-3">
                      <h6>Most Viewed</h6>
                      <p class="text-muted">Dolor sit amet</p>
                    </div>
                  </div>
                  <div class="d-flex justify-content-start">
                    <a href="#!"><i class="fab fa-facebook-f fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-twitter fa-lg me-3"></i></a>
                    <a href="#!"><i class="fab fa-instagram fa-lg"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>        </div>

  </section>
