<h1>Category</h1>
<p>Form for entering just a category</p>
<div class="container">
  <form action="#">

    <label for="category">Category</label>&nbsp;
    <input type="text" id="category" name="category" placeholder="Add a Category">
&nbsp;
<!-- TODO click event to submit to FireBase Category Collection -->
    <input type="submit" value="Submit">

  </form>
  <div class="align-items-center align-text-center center">
<!-- TODO *ngfor category and crud -->
<!-- TODO use icons horizontal layout table?-->
<!-- TODO inline edit -->

<ul>
  <li> shows a list of categories in the system  Update  Delete</li>

</ul>


  </div>
</div>

<!-- TODO own collection categories -->
