<h1>About</h1>
<div>
    <p>Every crafter knows the pain of not being able to find something and spending the money on a duplicate even though they “know it’s here somewhere”. To reduce duplication of patterns, notions, fabric and other supplies for sewing & crafts, the Crafting Project Manager was born.</p>
    <p>The focus for this project is as follows:</p>
<ul>
    <li>Projects</li>
    <li>Stash (future)</li>
    <li>Shopping (future)</li>
    <li>Budget (future)</li>
</ul>
<a class="card" target="_blank" rel="noopener" href="#">
  <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
  <span>Capstone React Version (to GH)</span>
  <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>    <a class="card" target="_blank" rel="noopener" href="#">
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 13.18v4L12 21l7-3.82v-4L12 17l-7-3.82zM12 3L1 9l11 6 9-4.91V17h2V9L12 3z"/></svg>
    <span>Capstone React Version (to GH)</span>
    <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>
