<h1>Contact</h1>
<!-- TODO link to GH -->
<!-- TODO just use GH for support and inquiries? -->
<p>Bugs are tracked via Git Hub</p>
<p>All other inquiries can go through this form.</p>
<!-- TODO make this form work -->
<div class="container">
    <form action="#">

      <label for="fname">First Name</label>
      <input type="text" id="fname" name="firstname" placeholder="Your name..">

      <label for="lname">Last Name</label>
      <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      <label for="subject">Subject</label>
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

      <input type="submit" value="Submit">

    </form>
  </div>
